* {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #F5F5F5;
}


.container {
    display: flex;
    box-sizing: border-box;
    max-width: 480px;
    padding: 0 20px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
}

.header-svg {
    fill: #121212;
    height: 25px;
    width: 25px;
}

.header-heart {
    fill: none;
    stroke: #121212;
}


.header-svg-list {
    display: flex;
    margin: 0;
    padding: 20px 0 0 0;
    list-style: none;
    gap: 25px;
    align-items: center;
    /* margin: 0 0 0 auto; */
    /* padding-right: 150px; */
}

.logo {
    color: #121212;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}

.header-svg-item,
.header-svg {
    display: flex;
    align-items: center;
}


.header-bottom {
    background-color: #121212;
}

.header-category-list {
    /* display: flex; */
    /* gap: 68px; */
    margin: 0;
    padding: 15px 0;

}

.header-category-item {
    margin: 0;
}

.header-category-item>a {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
}


@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }


    .header-top {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .header-svg-list {

        padding: 0;

    }

    .logo {
        margin: 0;
    }

    .header-category-list {
        display: flex;
        flex-direction: row;
        gap: 50px
    }
}


@media screen and (min-width: 1200px) {
    .container {
        max-width: 1600px;
    }
}